* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.sidebar {
    display: flex;
    position: relative;
    z-index: 1;
    overflow: visible;
    align-items: center;
    padding: 0 20px;
    background: #000000;
    background: linear-gradient(0deg, #000000 0%, #000000 35%, rgb(36, 38, 81) 100%);
    height: 60px;
}

.sidebar::after {
    content: '';
    position: absolute;
    left: -50%;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(to right, transparent, red, orange, yellow, green, blue, indigo, violet, transparent);
    animation: glow-slide 5s infinite ease-in-out;
    z-index: -1;
}

@keyframes glow-slide {
    0% { left: -100%; opacity: 0.7; }
    50% { left: 100%; opacity: 1; }
    100% { left: -100%; opacity: 0.7; }
}

.logo {
    position: relative;
    flex-shrink: 0;
    width: 200px;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.logo span {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    white-space: nowrap;
    font-family: 'Major Mono Display', monospace;
    font-size: 1em;
    color: white;
    animation: typing 4s steps(10, end) infinite;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.logo span:hover {
    background: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    background-clip: text;
    color: transparent;
    animation: rainbow 4s infinite ease-in-out;
    background-size: 400% 100%;
}

@keyframes rainbow {
    0%, 100% { background-position: 0 0; }
    50% { background-position: 100% 0; }
}

.logo span::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 1em;
    background-color: white;
    animation: blink-caret 0.75s step-end infinite;
    vertical-align: bottom;
}

.navbar-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.nav-button {
    padding: 10px 25px;
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    border-radius: 40px;
    margin-right: 5px;
    font-family: 'Montserrat', sans-serif;
}

.nav-button:hover {
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    text-shadow:1px 1px 10px #00ccff, 1px 1px 10px #ccc;
}

.nav-button.active {
    background-color: #16235d;
}

.content {
    flex: 1;
    background: white;
    position: relative;
    overflow: hidden;
}

.project-frame {
    width: 100%;
    height: 100%;
    border: none;
    display: none;
}

.project-frame.active {
    display: block;
}